{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Inserir Dados</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="header">
        <a href="{% url 'index' %}"><button><h1>INTELLIYIELD</h1></button></a>
        <a href="{% url 'register' %}"><button>Cadastro</button></a>
        <a href="{% url 'login' %}"><button>Login</button></a>
    </div>
    <div id="formulario">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>

</body>

</html>